.tutor {
    background-color: #f8f8f8;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.tutor__container {
    padding: 100px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px;
}

.tutor__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
}

.tutor__form > img {
    object-fit: contain;
    margin: auto;
    height: 100px;
}


.tutor__form > h2 {
 padding: 10px;   
}

.tutor__form > input {
    /* border: none; */
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 10px;

}

.tutor__form > button {
    padding: 10px;
    border-radius: 20px;
    color: white;
    margin: auto;
    background-color: cornflowerblue;
    font-weight: 800;
    width: 100px;
    margin-bottom: 20px;

}



