
.navbar {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid lightgrey;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar > a {
    font-weight: 700;
    text-decoration: none;
    color: black !important;
}


.navbar__logo {
    padding: 20px;
    max-width: 100px;
    object-fit: contain;
  }

  .navbar__center {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
  }

  .navbar__center > input {
      border: none;
      padding: 0px;
      outline-width: 0;
  }
 
.navbar__search {
    margin-right: -10px;
}

  .navbar__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 15vw;
      margin-right: 80px;
      
  }


  .navbar__link {
      text-decoration: none;
      color: black;
      margin-left: 5px;
      margin-right: 5px;
  }